<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">
    <display-name>day36</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>RowServlet</display-name>
        <servlet-name>RowServlet</servlet-name>
        <servlet-class>a_row.RowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RowServlet</servlet-name>
        <url-pattern>/row</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>HeadersServlet</display-name>
        <servlet-name>HeadersServlet</servlet-name>
        <servlet-class>b_header.HeadersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HeadersServlet</servlet-name>
        <url-pattern>/headers</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ParamServlet</display-name>
        <servlet-name>ParamServlet</servlet-name>
        <servlet-class>c_param.ParamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParamServlet</servlet-name>
        <url-pattern>/param</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ParamPlusServlet</servlet-name>
        <servlet-class>c_param.ParamPlusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParamPlusServlet</servlet-name>
        <url-pattern>/paramPlus</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>Dis1Servlet</display-name>
        <servlet-name>Dis1Servlet</servlet-name>
        <servlet-class>d_dispatcher.Dis1Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dis1Servlet</servlet-name>
        <url-pattern>/dis1</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>Dis2Servlet</display-name>
        <servlet-name>Dis2Servlet</servlet-name>
        <servlet-class>d_dispatcher.Dis2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dis2Servlet</servlet-name>
        <url-pattern>/dis2</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>Dis3Servlet</display-name>
        <servlet-name>Dis3Servlet</servlet-name>
        <servlet-class>d_dispatcher.Dis3Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dis3Servlet</servlet-name>
        <url-pattern>/dis3</url-pattern>
    </servlet-mapping>
</web-app>
